body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: lato;
}

p {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.main {
  display: flex;
}
aside{
  display: flex;
  flex-grow: 0;
}
section {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.singlePost {
  text-align: left;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  padding: 8px;
}

.comment article {
  width: 100%;
}

.comment-author {
  text-align: right;
}

.comment button {
  width: 100%;
}

.lightBox-Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 100%;
  background: rgba(51, 51, 51, 0.4);
  align-items: center;
  justify-content: center;
}

.lightBox {
  width: 400px;
  background: #fff;
  margin-top: -50%;
  border-radius: 4px;
}

.lightBox header {
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
}

.lightBox form {
  padding: 16px;
}

.lightBox form ul {
  list-style: none;
  padding: 0;
}

.lightBox form footer {
  text-align: right;
}

.lightBox form ul li {
  margin-bottom: 8px;
}

.lightBox form label {
  display: block;
  font-size: 14px;
}

.lightBox form input {
  width: 100%;
  box-sizing: border-box;
}

.lightBox form textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}